Django
djangorestframework
django-cors-headers
django-simple-history
celery
redis
pandas
numpy
matplotlib
scikit-learn
plotly
prophet
scipy
openpyxl
xlsxwriter
googlemaps
fairlearn
whitenoise
django-filter
django-extensions
psycopg2-binary
python-dotenv
dj-database-url
python-decouple
email-validator
requests
gunicorn
weasyprint
